<template>
  <el-form style="max-width:500px" ref="form" :model="form" :rules="rules" label-width="80px" @submit="handleSubmit('form')">
      <el-form-item label="密码" prop="password">
          <el-input type="password" v-model="form.password" placeholder="请输入密码"></el-input>
      </el-form-item>
      <el-form-item label="新密码" prop="newPassword">
          <el-input type="password" v-model="form.newPassword" placeholder="请输入新密码"></el-input>
      </el-form-item>
      <el-form-item label="确认密码" prop="newPasswordConfirm">
          <el-input type="password" v-model="form.newPasswordConfirm" placeholder="请输入新密码"></el-input>
      </el-form-item>
      <el-form-item>
          <el-button type="primary" @click="handleSubmit('form')">提交</el-button>
      </el-form-item>
  </el-form>
</template>
<script>
import api from "@/api/api";
export default {
  data() {
    return {
      form: {
        password: "",
        newPassword: "",
        newPasswordConfirm: ""
      },
      rules: {
        password: [
          {
            required: true,
            message: "请输入密码.",
            trigger: "blur"
          },
          {
            type: "string",
            min: 6,
            message: "密码长度不小于6位",
            trigger: "blur"
          }
        ],
        newPassword: [
          {
            required: true,
            message: "请输入新密码.",
            trigger: "blur"
          },
          {
            type: "string",
            min: 6,
            message: "密码长度不小于6位",
            trigger: "blur"
          }
        ],
        newPasswordConfirm: [
          {
            validator: (rule, value, callback) => {
              if (value === "") {
                callback(new Error("请再次输入新密码"));
              } else if (value !== this.form.newPassword) {
                callback(new Error("两次输入的密码不一致!"));
              } else {
                callback();
              }
            },
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    handleSubmit(name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          api
            .userChangePwd(this.form)
            .then(data => {
              this.$message.success(data.errmsg);
              this.$router.replace("/user/list");
            })
            .catch(err => {
              this.$message.error(err.errmsg);
            });
        }
      });
    }
  }
};
</script>
