<template>
    <el-form style="max-width:500px" ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="姓名" prop="name">
            <el-input v-model="form.name" placeholder="请输入姓名"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
            <el-input v-model="form.email" placeholder="请输入邮箱"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="phone">
            <el-input v-model="form.phone" placeholder="请输入联系电话"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="gender">
            <el-radio-group v-model="form.gender">
                <el-radio label="male">男</el-radio>
                <el-radio label="female">女</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="描述" prop="desc">
            <el-input v-model="form.desc" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="随便写写..."></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="handleSubmit('form')">提交</el-button>
            <el-button @click="handleReset('form')">重置</el-button>
        </el-form-item>
    </el-form>
</template>
<script>
import api from "@/api/api";
export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        gender: "male",
        desc: ""
      },
      oldFormData: {},
      rules: {
        name: [
          {
            required: true,
            message: "姓名不能为空",
            trigger: "blur"
          }
        ],
        email: [
          {
            required: true,
            message: "邮箱不能为空",
            trigger: "blur"
          },
          { type: "email", message: "邮箱格式不正确", trigger: "blur" }
        ],
        phone: [
          {
            type: "string",
            pattern: /^(((\d{3,4}-)?\d{7,8})|(1[0-9]{10}))$/,
            message: "电话格式不正确",
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    let id = this.$route.params.id;
    if (id) {
      api
        .userGetById(id)
        .then(data => {
          this.form = data.user;
          this.oldFormData = Object.assign({}, data.user); //克隆一份数据
        })
        .catch(e => {
          this.$message.error("查询失败!");
        });
    } else {
      this.$router.replace("/user/add");
    }
  },
  methods: {
    handleSubmit(name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          api
            .userUpdate(this.form)
            .then(data => {
              console.log(data);
              this.$message.success("更新成功!");
              this.$router.replace("/user/list");
            })
            .catch(e => {
              this.$message.error("更新失败!");
            });
        }
      });
    },
    handleReset() {
      this.form = Object.assign({}, this.oldFormData);
    }
  }
};
</script>
