<template>
  <div class="add-project-box" v-loading="loading">
    <el-form ref="baseData" :model="baseData" :rules="baseData.rules" label-width="80px">
      <el-row>
        <el-col :span="7">
          <el-form-item label="项目名称" prop="project_name">
            <el-input v-model="baseData.project_name"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-tabs v-model="activeTabName" @tab-click="handleTabClick">
      <el-tab-pane label="基本信息" name="1">
        <el-form ref="baseData" :rules="baseData.rules" :model="baseData" label-width="100px" size="mini">
          <el-row>
            <el-col :span="7">
              <el-form-item label="公司名称">
                <el-input v-model="baseData.company_name"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="公司法人">
                <el-input v-model="baseData.company_legal"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="注册地址">
                <el-input v-model="baseData.company_regaddr"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="7">
              <el-form-item label="公司网址">
                <el-input v-model="baseData.company_url"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="公司城市">
                <el-cascader v-model="baseData.company_area" :options="citydata" @change="cityChange" change-on-select
                             style="width: 100%"></el-cascader>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="公司地址">
                <el-input v-model="baseData.company_addr"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="7">
              <el-form-item label="行业">
                <el-input v-model="baseData.company_industry"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="项目来源">
                <el-select v-model="baseData.project_source" placeholder="请选择项目来源">
                  <el-option label="新闻渠道" value="1"></el-option>
                  <el-option label="线下活动" value="2"></el-option>
                  <el-option label="定向行研" value="3"></el-option>
                  <el-option label="创业者介绍" value="4"></el-option>
                  <el-option label="投资人介绍" value="5"></el-option>
                  <el-option label="其他人介绍" value="6"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="标签">
                <el-input v-model="baseData.project_mark"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="7">
              <el-form-item label="创建人">
                <el-input v-model="baseData.project_creator"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="推进状态">
                <el-select v-model="baseData.project_push_status" placeholder="请选择推进状态">
                  <el-option v-for="item in selectDatas.project_push_status" :label="item.status" :value="item.key"
                             :key="item.key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="融资轮次">
                <el-select v-model="baseData.finance_rotation" placeholder="请选择轮次">
                  <el-option v-for="item in selectDatas.finance_round" :label="item.status" :value="item.key"
                             :key="item.key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="7">
              <el-form-item label="初次见面时间">
                <el-date-picker type="date" placeholder="选择日期" v-model="baseData.project_first_time" format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%;"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="预计回访时间">
                <el-date-picker type="date" placeholder="选择日期" v-model="baseData.project_revisit_time"
                                format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"
                                style="width: 100%;"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="期望融资额">
                <el-input v-model="baseData.finance_expect"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-form-item label="公司简介">
            <el-input type="textarea" v-model="baseData.company_desc"></el-input>
          </el-form-item>
          <el-form-item label="产品描述">
            <el-input type="textarea" v-model="baseData.project_desc"></el-input>
          </el-form-item>
          <el-form-item label="运营情况">
            <el-input type="textarea" v-model="baseData.company_bussiness"></el-input>
          </el-form-item>
          <el-form-item label="项目封面">
            <el-row>
              <el-col :span="7">
                <el-upload
                  class="upload-demo"
                  :limit="1"
                  list-type="picture"
                  :action="fileuUploadUrl"
                  :on-success="(res)=>{return fileUploadSuccess(res, baseData.project_cover)}"
                  :on-remove="(file, fileList)=>{return handleRemove(file, fileList, baseData.project_cover)}"
                  :before-remove="beforeRemove"
                  :file-list="baseData.project_cover">
                  <el-button size="small" type="primary">附件上传</el-button>
                </el-upload>
              </el-col>
            </el-row>
          </el-form-item>

          <el-form ref="baseData" :model="baseData" label-width="80px" size="mini" label-position="top"
                   style="padding: 0px 30px;">
            <el-form-item label="项目团队">
              <el-table :data="baseData.project_team" stripe border style="width: 100%">
                <el-table-column prop="name" label="姓名" width="140">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.name"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="job" label="职位" width="180">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.job"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="contact" label="联系方式" width="280">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.contact"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="info" label="教育背景&工作背景&个人介绍">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.info"></el-input>
                  </template>
                </el-table-column>
              </el-table>
            </el-form-item>
          </el-form>

          <el-form ref="baseData" :model="baseData" label-width="80px" size="mini" label-position="top"
                   style="padding: 0px 30px;">
            <el-form-item label="融资历史">
              <el-table :data="baseData.finance_history" stripe border style="width: 100%">
                <el-table-column prop="finance_round" label="融资轮次" width="140">
                  <template slot-scope="scope">
                    <el-select v-model="scope.row.finance_round" placeholder="请选择轮次">
                      <el-option v-for="item in selectDatas.finance_round" :label="item.status" :value="item.key"
                                 :key="item.key"></el-option>
                    </el-select>
                  </template>
                </el-table-column>
                <el-table-column prop="finance_time" label="融资时间" width="280">
                  <template slot-scope="scope">
                    <el-date-picker
                      v-model="scope.row.finance_time"
                      type="date"
                      format="yyyy-MM-dd"
                      value-format="yyyy-MM-dd"
                      placeholder="选择日期">
                    </el-date-picker>
                  </template>
                </el-table-column>
                <el-table-column prop="finance_prevalue" label="投后估值" width="150">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.finance_prevalue"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="finance_total" label="融资总额">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.finance_total"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="finance_percent" label="释放权比例">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.finance_percent"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="finance_company" label="投资机构">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.finance_company"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="finance_people" label="投资人">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.finance_people"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="finance_way" label="投资形式">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.finance_way"></el-input>
                  </template>
                </el-table-column>
              </el-table>
            </el-form-item>
          </el-form>

          <el-form-item label="BP" style="width: 600px;">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-preview="filePreview"
              :on-success="(res)=>{return fileUploadSuccess(res, baseData.files_bp)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, baseData.files_bp)}"
              :before-remove="beforeRemove"
              :file-list="baseData.files_bp">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="Pitchbook" style="width: 600px;">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, baseData.files_pitchbook)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, baseData.files_pitchbook)}"
              :before-remove="beforeRemove"
              :file-list="baseData.files_pitchbook">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>

          <el-form-item style="text-align: right">
            <el-button type="primary" @click="addEditProject">立即创建</el-button>
            <el-button @click="cancelClick">取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-if="baseData.isadmin==1" label="权限管理" name="2">
        <el-form ref="authData" :model="authData" label-width="80px" size="mini">
          <el-form-item label="负责人">
            <el-select v-model="authData.manager" placeholder="请选择负责人">
              <el-option v-for="item in members" :label="item.label" :value="item.key"
                         :key="item.key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="项目组成员">
            <el-transfer class="my-memebers" v-model="authData.members" :data="members"
                         :titles="['全部人员', '参与人员']"></el-transfer>
          </el-form-item>
          <el-row>
            <el-col :span="2">
              <el-form-item label="是否启动">
                <el-checkbox v-model="authData.is_start"></el-checkbox>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="启动时间">
                <el-date-picker v-model="authData.start_time" type="date" placeholder="选择日期" format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"></el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="执行状态">
            <el-select v-model="authData.execute_status" placeholder="请选择轮次">
              <el-option v-for="item in selectDatas.execute_status" :label="item.status" :value="item.key"
                         :key="item.key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item style="text-align: right">
            <el-button type="primary" @click="addEditAuthManage">保存</el-button>
            <el-button @click="cancelClick">取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-if="baseData.isadmin==1" label="市场竞争" name="3">
        <el-form ref="marketData" :model="marketData" label-width="80px" size="mini">
          <el-form-item label="行业研究">
            <el-input type="textarea" v-model="marketData.research"></el-input>
          </el-form-item>
          <el-form label-width="80px" size="mini" label-position="top" style="padding: 0px 10px;">
            <el-form-item label="海外可比">
              <el-table :data="marketData.abroad" stripe border style="width: 100%">
                <el-table-column prop="name" label="项目名称" width="250">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.project_name"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="value" label="价值" width="180">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.value"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="way" label="商业模式" width="280">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.way"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="data" label="数据情况">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.data"></el-input>
                  </template>
                </el-table-column>
              </el-table>
            </el-form-item>
          </el-form>
          <el-form label-width="80px" size="mini" label-position="top" style="padding: 0px 10px;">
            <el-form-item label="国内竞品">
              <el-table :data="marketData.domestic" stripe border style="width: 100%">
                <el-table-column prop="name" label="项目名称" width="250">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.project_name"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="value" label="价值" width="180">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.value"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="way" label="商业模式" width="280">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.way"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="data" label="数据情况">
                  <template slot-scope="scope">
                    <el-input size="small" v-model="scope.row.data"></el-input>
                  </template>
                </el-table-column>
              </el-table>
            </el-form-item>
          </el-form>
          <el-form-item label="附件">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, marketData.files_market)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, marketData.files_market)}"
              :before-remove="beforeRemove"
              :file-list="marketData.files_market">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item style="text-align: right">
            <el-button type="primary" @click="addEditMarketCom">保存</el-button>
            <el-button @click="cancelClick">取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-if="baseData.isadmin==1" label="路演材料" name="4">
        <el-form ref="roadshowData" :model="roadshowData" label-width="120px" size="mini">
          <el-form-item label="微信推送材料">
            <el-input type="textarea" v-model="roadshowData.wx_data"></el-input>
          </el-form-item>
          <el-form-item label="Teaser">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, roadshowData.files_taser)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, roadshowData.files_taser)}"
              :before-remove="beforeRemove"
              :file-list="roadshowData.files_taser">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="BP">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, roadshowData.files_bp)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, roadshowData.files_bp)}"
              :before-remove="beforeRemove"
              :file-list="roadshowData.files_bp">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="Datapack">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, roadshowData.files_datapack)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, roadshowData.files_datapack)}"
              :before-remove="beforeRemove"
              :file-list="roadshowData.files_datapack">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="FM">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, roadshowData.files_fm)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, roadshowData.files_fm)}"
              :before-remove="beforeRemove"
              :file-list="roadshowData.files_fm">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="Captable">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, roadshowData.files_captable)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, roadshowData.files_captable)}"
              :before-remove="beforeRemove"
              :file-list="roadshowData.files_captable">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="项目日志">
            <el-input type="textarea" v-model="roadshowData.project_log"></el-input>
          </el-form-item>
          <el-form-item style="text-align: right">
            <el-button type="primary" @click="addEditRoadShow">保存</el-button>
            <el-button @click="cancelClick">取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-if="baseData.isadmin==1" label="投资人推荐" name="5">
        <div class="tool-bar" style="flex-direction: row-reverse;">
          <div class="btn-box" style="padding-bottom: 15px;">
            <a href="#" class="btn btn-primary" @click.prevent="industryData.visible=true">+ 添加机构</a>
          </div>
        </div>
        <el-table :data="recommendData.datalist" stripe border style="width: 100%">
          <el-table-column type="index" :index="1"></el-table-column>
          <el-table-column prop="type" label="类型"></el-table-column>
          <el-table-column prop="instustry_name" label="机构名称"></el-table-column>
          <el-table-column prop="coin" label="币种"></el-table-column>
          <el-table-column prop="stage" label="阶段"></el-table-column>
          <el-table-column prop="case" label="相关投资案例"></el-table-column>
          <el-table-column prop="investor" label="投资人"></el-table-column>
          <el-table-column prop="job" label="职位"></el-table-column>
          <el-table-column prop="inner_contact" label="内部联系"></el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              <el-select v-model="scope.row.status" placeholder="状态"
                         @change="(status)=>{return updateIns(scope.row.id,status)}">
                <el-option v-for="item in selectDatas.recomm_status" :label="item.status"
                           :value="item.key" :key="item.key"></el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="100">
            <template slot-scope="scope">
              <el-button size="mini" @click="deleteIns(scope.row.id)" type="danger">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          @current-change="(page)=>{this.recommendData.page = page;}"
          :current-page="recommendData.page"
          :page-size="recommendData.limit"
          layout="total, prev, pager, next"
          :total="recommendData.total" style="text-align: center;padding: 20px;">
        </el-pagination>
      </el-tab-pane>

      <el-tab-pane v-if="baseData.isadmin==1" label="反馈管理" name="6">
        <div class="feedback_time">最后编辑时间：{{baseData.up_feedback_time}}</div>
        <el-row>
          <el-col :span="8">
            <el-table :data="feedbackData.roadshow_count">
              <el-table-column label="已路演进程">
                <el-table-column prop="status_name" label="状态"></el-table-column>
                <el-table-column prop="count" label="数量"></el-table-column>
              </el-table-column>
            </el-table>
          </el-col>
          <el-col :span="8">
            <el-table :data="feedbackData.meeting_count">
              <el-table-column label="排会进程">
                <el-table-column prop="status_name" label="状态"></el-table-column>
                <el-table-column prop="count" label="数量"></el-table-column>
              </el-table-column>
            </el-table>
          </el-col>
          <el-col :span="8">
            <el-table :data="feedbackData.recomm_count">
              <el-table-column label="初次推荐进程">
                <el-table-column prop="status_name" label="状态"></el-table-column>
                <el-table-column prop="count" label="数量"></el-table-column>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
        <el-table :data="feedbackData.roadshow_list" style="width: 100%;margin-top: 10px;">
          <el-table-column label="已路演机构">
            <el-table-column type="index" :index="1"></el-table-column>
            <el-table-column prop="instustry_name" label="投资机构"></el-table-column>
            <el-table-column prop="job" label="职位"></el-table-column>
            <el-table-column prop="investor" label="投资人"></el-table-column>
            <el-table-column prop="next" label="状态" width="180px">
              <template slot-scope="scope">
                <el-select v-model="scope.row.fb_status" placeholder="状态"
                           @change="(status)=>{return upFeedBackStatus(scope.row.id,status)}">
                  <el-option v-for="item in selectDatas.fb_status" :label="item.status"
                             :value="item.key" :key="item.key"></el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column prop="next" label="下一步动作">
              <template slot-scope="scope">
                <el-input size="small" v-model="scope.row.next" style="width:190px"></el-input>
                <el-button type="success" size="mini" @click="saveNext(scope.row.id,scope.row.next)">保存</el-button>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table>
        <el-table :data="feedbackData.meeting_list" style="width: 100%;margin-top: 10px;">
          <el-table-column label="排会机构">
            <el-table-column type="index" :index="1"></el-table-column>
            <el-table-column prop="instustry_name" label="投资机构"></el-table-column>
            <el-table-column prop="job" label="职位"></el-table-column>
            <el-table-column prop="investor" label="投资人"></el-table-column>
            <el-table-column prop="addr" label="待会地点">
              <template slot-scope="scope">
                <el-input size="small" v-model="scope.row.addr" style="width: 245px"></el-input>
                <el-button type="success" size="mini" @click="saveNext(scope.row.id,'',scope.row.addr)">保存</el-button>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table>
        <el-table :data="feedbackData.recomm_list" style="width: 100%;margin-top: 10px;">
          <el-table-column label="推荐机构">
            <el-table-column type="index" :index="1"></el-table-column>
            <el-table-column prop="instustry_name" label="投资机构"></el-table-column>
            <el-table-column prop="job" label="职位"></el-table-column>
            <el-table-column prop="investor" label="投资人"></el-table-column>
            <el-table-column prop="addr" label="待会地点">
              <template slot-scope="scope">
                <el-input size="small" v-model="scope.row.addr" style="width: 245px"></el-input>
                <el-button type="success" size="mini" @click="saveNext(scope.row.id,'',scope.row.addr)">保存</el-button>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table>
      </el-tab-pane>

      <el-tab-pane v-if="baseData.isadmin==1" label="交割协议" name="7">
        <el-form ref="deliveryData" :model="deliveryData" label-width="80px" size="mini">
          <el-form-item label="NDA">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, deliveryData.files_nda)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, deliveryData.files_nda)}"
              :before-remove="beforeRemove"
              :file-list="deliveryData.files_nda">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="TS">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, deliveryData.files_ts)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, deliveryData.files_ts)}"
              :before-remove="beforeRemove"
              :file-list="deliveryData.files_ts">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="SPA">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, deliveryData.files_spa)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, deliveryData.files_spa)}"
              :before-remove="beforeRemove"
              :file-list="deliveryData.files_spa">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="SHA">
            <el-upload
              class="upload-demo"
              :action="fileuUploadUrl"
              :on-success="(res)=>{return fileUploadSuccess(res, deliveryData.files_sha)}"
              :on-remove="(file, fileList)=>{return handleRemove(file, fileList, deliveryData.files_sha)}"
              :before-remove="beforeRemove"
              :file-list="deliveryData.files_sha">
              <el-button size="small" type="primary">附件上传</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item style="text-align: right">
            <el-button type="primary" @click="updateDeliveryAgree">保存</el-button>
            <el-button @click="cancelClick">取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>

    <el-dialog
      title="添加机构"
      :visible.sync="industryData.visible"
      width="70%">
      <el-form label-width="0px" size="mini" style="width:250px;">
        <el-form-item label="">
          <el-input placeholder="请输入机构名搜索" class="input-search" v-model="industryData.keyword">
            <el-button slot="append" icon="el-icon-search" @click.prevent="insPageList(1)"></el-button>
          </el-input>
        </el-form-item>
      </el-form>
      <el-table :data="industryData.datalist" stripe style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column type="index" :index="1"></el-table-column>
        <el-table-column prop="instustry_name" label="机构名称">
          <template slot-scope="scope">
            <div style="font-size: 14px;">{{scope.row.instustry_name}}</div>
            <div>
              <span>{{scope.row.ctime}}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="invest_case" label="投资案例"></el-table-column>
        <el-table-column prop="invest_field" label="投资领域"></el-table-column>
        <el-table-column prop="investor" label="投资人"></el-table-column>
        <el-table-column prop="job" label="职位"></el-table-column>
        <el-table-column prop="coin" label="币种"></el-table-column>
      </el-table>
      <el-pagination
        @current-change="(page)=>{industryData.page = page;}"
        :current-page="industryData.page"
        :page-size="industryData.limit"
        layout="total, prev, pager, next"
        :total="industryData.total" style="text-align: center;padding: 20px;">
      </el-pagination>
      <div slot="footer" class="dialog-footer">
        <el-button @click="industryData.visible = false">取 消</el-button>
        <el-button type="primary" @click.prevent="addIns">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import citydata from '../../../static/city-data.js';  //引入外部js文件
  import moment from 'moment';
  import {
    fileuUploadUrl,
    getMembers,
    getProject,
    addEditProject,
    getAuthManage,
    addEditAuthManage,
    getMarketCom,
    addEditMarketCom,
    getRoadShow,
    addEditRoadShow,
    insPageList,
    deleteIns,
    addIns,
    investorPageList,
    updateIns,
    getDeliveryAgree,
    updateDeliveryAgree,
    feedBack,
    updateFeedBack,
    upFeedBackStatus
  } from '@/api/api';

  moment.locale('zh-cn');
  export default {
    data() {
      return {
        project_id: '',
        fileuUploadUrl: fileuUploadUrl,
        citydata: citydata,
        members: [],
        activeTabName: '1',
        curUploadData: null,
        loading: false,
        baseData: {
          project_name: '',
          project_cover: [],
          company_name: '',
          company_legal: '',
          company_regaddr: '',
          company_url: '',
          company_area: [],
          company_area_name: '',
          company_addr: '',
          company_industry: '',
          project_source: '',
          project_mark: '',
          project_creator: '',
          project_push_status: '',
          finance_rotation: '',
          finance_expect: '',
          project_first_time: '',
          project_revisit_time: '',
          company_desc: '',
          project_desc: '',
          company_bussiness: '',
          project_team: [
            {
              name: '',
              job: '',
              contact: '',
              info: ''
            }, {
              name: '',
              job: '',
              contact: '',
              info: ''
            }, {
              name: '',
              job: '',
              contact: '',
              info: ''
            }, {
              name: '',
              job: '',
              contact: '',
              info: ''
            }, {
              name: '',
              job: '',
              contact: '',
              info: ''
            },
          ],
          finance_history: [
            {
              finance_round: '', //轮次
              finance_time: '',
              finance_prevalue: '',
              finance_total: '',
              finance_percent: '',
              finance_company: '',
              finance_people: '',
              finance_way: '',
            }, {
              finance_round: '', //轮次
              finance_time: '',
              finance_prevalue: '',
              finance_total: '',
              finance_percent: '',
              finance_company: '',
              finance_people: '',
              finance_way: '',
            }, {
              finance_round: '', //轮次
              finance_time: '',
              finance_prevalue: '',
              finance_total: '',
              finance_percent: '',
              finance_company: '',
              finance_people: '',
              finance_way: '',
            }, {
              finance_round: '', //轮次
              finance_time: '',
              finance_prevalue: '',
              finance_total: '',
              finance_percent: '',
              finance_company: '',
              finance_people: '',
              finance_way: '',
            }, {
              finance_round: '', //轮次
              finance_time: '',
              finance_prevalue: '',
              finance_total: '',
              finance_percent: '',
              finance_company: '',
              finance_people: '',
              finance_way: '',
            },
          ],
          files_bp: [],
          files_pitchbook: [],
          rules: {

            project_name: [
              {required: true, trigger: 'blur', message: '请输入活动名称'}
            ]
          }
        },
        authData: {
          manager: '',
          members: [],
          is_start: true,
          start_time: moment().format(),
          execute_status: '1'
        },
        marketData: {
          research: '',
          abroad: [ //对比数据
            {
              project_name: '',
              value: '',
              way: '',
              data: ''
            }, {
              project_name: '',
              value: '',
              way: '',
              data: ''
            }
          ],
          domestic: [ //竞争
            {
              project_name: '',
              value: '',
              way: '',
              data: ''
            }, {
              project_name: '',
              value: '',
              way: '',
              data: ''
            }
          ],
          files_market: []
        },
        roadshowData: {
          wx_data: '',
          project_log: '',
          files_taser: [],
          files_bp: [],
          files_datapack: [],
          files_fm: [],
          files_captable: []
        },
        recommendData: {
          keyword: '',
          page: 1,
          limit: 20,
          total: 0,
          datalist: [
            /* {
               type: '',
               instustry_name: '',
               coin: '',
               stage: '',
               case: '',
               investor: '',
               job: '',
               inner_contact: '',
               status: ''
             },*/
          ]
        },
        industryData: {
          visible: false,
          keyword: '',
          page: 1,
          limit: 5,
          total: 0,
          addData_ids: [],
          datalist: [
            /* {
               industry_name: '',
               ctime: '',
               last_project_round: '',
               last_project_num: '',
               last_project_time: '',
             }*/
          ]
        },
        feedbackData: {
          recomm_count: [],
          meeting_count: [],
          roadshow_count: [],
          roadshow_list: [
            /*{
              industry: 'industry',
              job: 'job',
              job: 'job',
              investor: 'investor',
              next: 'next',
            }*/
          ],
          meeting_list: [
            /*{
              industry: 'industry',
              job: 'job',
              job: 'job',
              investor: 'investor',
              addr: 'addr',
            }*/
          ],
          recomm_list: []
        },
        deliveryData: {
          files_nda: [],
          files_ts: [],
          files_spa: [],
          files_sha: []
        },
      }
    },
    computed: {
      selectDatas() {
        return this.$store.state.selectData
      }
    },
    watch: {
      'recommendData.page'() {
        this.investorPageList();
      },
      'industryData.page'() {
        this.insPageList();
      }
    },
    mounted() {
      var pid = this.$route.query.id;
      if (pid) {
        this.loading = true;
        this.project_id = pid;
        this.getProjectDetail()
        this.getAuthManage()
        this.getMarketCom()
        this.getRoadShow()
        this.insPageList() //添加机构弹窗列表
        this.investorPageList() //投资人推荐列表
        this.getDeliveryAgree() //交割协议
        this.feedBack() //反馈管理
      }
      //console.log(this.$store.state.selectData)
      this.getMembers()
    },
    methods: {
      filePreview(file) {
        window.open(file.url, file.name)
      },
      fileUploadSuccess(retData, uploadData) {
        uploadData.push({name: retData.data.filename, url: retData.data.url});
      },
      handleRemove(file, fileList, uploadData) {
        uploadData.splice(0, uploadData.length)
        fileList.forEach((v, i) => {
          uploadData.push(v);
        })
      },
      beforeRemove(file, fileList) {
        return this.$confirm(`确定移除 ${ file.name }？`);
      },

      getMembers(keyword = '') {
        getMembers({keyword: keyword}).then((retData) => {
          var _data = retData.data;
          _data.forEach((v, i) => {
            _data[i].key = v.id;
          })
          this.members = _data;
        })
      },
      getProjectDetail() {
        getProject({params: {id: this.project_id}}).then((retData) => {
          this.baseData = retData.data;
          this.loading = false;
        })
      },

      addEditProject() {
        this.$refs['baseData'].validate((valid) => {
          console.log(valid)
          if (valid) {
            addEditProject(this.baseData).then((retData) => {
              this.$router.go(-1)
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },

      getAuthManage() {
        getAuthManage({params: {id: this.project_id}}).then((retData) => {
          if (!$.isEmptyObject(retData.data)) {
            this.authData = retData.data;
          }
        })
      },
      addEditAuthManage() {
        this.authData.id = this.project_id;
        addEditAuthManage(this.authData).then((retData) => {
          this.$router.go(-1)
        })
      },

      getMarketCom() {
        getMarketCom({params: {project_id: this.project_id}}).then((retData) => {
          var _d = retData.data;
          _d.abroad || (_d.abroad = [])
          _d.domestic || (_d.domestic = [])
          this.marketData.abroad = [..._d.abroad, ...this.marketData.abroad]
          this.marketData.domestic = [..._d.domestic, ...this.marketData.domestic]
        })
      },
      addEditMarketCom() {
        this.marketData.project_id = this.project_id;
        addEditMarketCom(this.marketData).then((retData) => {
          this.$router.go(-1)
        })
      },

      getRoadShow() {
        getRoadShow({params: {project_id: this.project_id}}).then((retData) => {
          if (!$.isEmptyObject(retData.data)) {
            this.roadshowData = retData.data;
          }
        })
      },
      addEditRoadShow() {
        this.roadshowData.project_id = this.project_id;
        addEditRoadShow(this.roadshowData).then((retData) => {
          this.$router.go(-1)
        })
      },

      insPageList(page) {
        if (page) {
          this.industryData.page = page;
        }
        insPageList({
          params: {
            keyword: this.industryData.keyword,
            page: this.industryData.page,
            limit: this.industryData.limit
          }
        }).then((retData) => {
          this.industryData.datalist = retData.data.list;
          this.industryData.total = retData.data.count;
        })
      },
      deleteIns(id) {
        deleteIns({
          params: {
            project_id: this.project_id,
            id: id
          }
        }).then((retData) => {
          this.$message({
            message: retData.data,
            type: 'success'
          });
          this.investorPageList()
        })
      },
      handleSelectionChange(items) {
        this.industryData.addData_ids = [];
        items.forEach((v) => {
          this.industryData.addData_ids.push(v.id);
        })
      },

      addIns() {
        addIns({
          project_id: this.project_id,
          ids: this.industryData.addData_ids    //机构id
        }).then((retData) => {
          if (retData.errorno == '0') {
            this.$message({
              message: retData.data,
              type: 'success'
            });
            this.industryData.visible = false;
            this.investorPageList();
          }
        })
      },

      investorPageList() {
        investorPageList({
          params: {
            project_id: this.project_id,
            page: this.recommendData.page,
            limit: this.recommendData.limit
          }
        }).then((retData) => {
          this.recommendData.total = retData.data.count;
          this.recommendData.datalist = retData.data.list;
        })
      },

      updateIns(id, status) {
        updateIns({
          project_id: this.project_id,
          id: id,
          status: status
        }).then((retData) => {
          if (retData.errorno == '0') {
            this.$message({
              message: retData.data,
              type: 'success'
            });
            this.feedBack();
          }
        })
      },

      getDeliveryAgree() {
        getDeliveryAgree({
          params: {
            project_id: this.project_id
          }
        }).then((retData) => {
          if ($.isArray(retData.data) && retData.data.length == 0) {
            retData.data = {}
          }
          this.deliveryData = retData.data;
        })
      },
      updateDeliveryAgree() {
        this.deliveryData.project_id = this.project_id;
        updateDeliveryAgree(this.deliveryData).then((retData) => {
          if (retData.errorno == '0') {
            this.$message({
              message: retData.data,
              type: 'success'
            });
          }
        })
      },

      feedBack() {
        feedBack({
          params: {
            project_id: this.project_id
          }
        }).then((retData) => {
          this.feedbackData = retData.data;
        })
      },
      upFeedBackStatus(id, status) {
        upFeedBackStatus({
          project_id: this.project_id,
          id: id,
          fb_status: status
        }).then((retData) => {
          if (retData.errorno == '0') {
            this.$message({
              message: retData.data,
              type: 'success'
            });
            this.feedBack()
          }
        })
      },
      saveNext(id, next, addr) {
        updateFeedBack({
          project_id: this.project_id,
          id: id,
          next: next,
          addr: addr
        }).then((retData) => {
          if (retData.errorno == '0') {
            this.$message({
              message: retData.data,
              type: 'success'
            });
          }
        })
      },

      fileUploadChange(file) {
        console.log(file)
        /* fileuUpload({file: file}).then((retData) => {
           console.log(retData)
         })*/
      },
      handleTabClick(tab, event) {
        //console.log(tab, event);
      },
      cancelClick() {
        this.$router.go(-1);
      },

      cityChange(val) {
        function getCascaderObj(val, opt) {
          return val.map(function (value, index, array) {
            for (var itm of opt) {
              if (itm.value == value) {
                opt = itm.children;
                return itm;
              }
            }
            return null;
          });
        }

        var vals = getCascaderObj(val, this.citydata);
        var area_name = [];
        vals.map((v) => {
          area_name.push(v.label)
        })
        this.baseData.company_area_name = area_name.join(',');
      }
    }
  };
</script>
<style type="text/scss" lang="scss" scope>
  .feedback_time {
    font-size: 12px;
    padding-bottom: 10px;
    color: #333;
    font-weight: bold;
  }

  .add-project-box {
    padding: 20px 0px;
  }

  .el-tabs {
    padding: 0px 20px;
  }

  .tool-bar {
    display: flex;
    justify-content: space-between;
    .btn-box {
      .btn {
        display: inline-block;
        font-size: 14px;
        border-radius: 15px;
        min-width: 100px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        &.btn-default {
          background-color: white;
          color: #3e3e3e;
          border: 1px solid rgb(196, 196, 196);
        }
        &.btn-primary {
          background-color: rgb(59, 140, 255);
          color: white;
        }
      }
    }
    .input-search {
      width: 400px;
    }
  }

  .el-table {
    th {
      color: #4e4e4e;
    }
  }

  .no-data {
    text-align: center;
    p {
      color: #aeaeae;
      font-size: 16px;
      padding: 0px;
    }
  }

  .add-project-box {
    .el-dialog__body {
      padding: 0px 20px;
    }
  }

  .color-box {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      list-style: none;
      padding: 0px;
      display: inline-block;
      margin-right: 6px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 100%;
      span {
        padding: 2px 4px 6px 5px;
        width: 25px;
        height: 25px;
        .icon-duihao {
          color: transparent;
          &.sel {
            color: white;
          }
        }
      }
    }
  }

  .color-label-1 {
    background: #22d7bb
  }

  .color-label-1:hover {
    background: #189582
  }

  .color-label-2 {
    background: #18bfa4
  }

  .color-label-2:hover {
    background: #0f7b6a
  }

  .color-label-3 {
    background: #2cccda
  }

  .color-label-3:hover {
    background: #1c939e
  }

  .color-label-4 {
    background: #2dbcff
  }

  .color-label-4:hover {
    background: #0098e0
  }

  .color-label-5 {
    background: #4e8af9
  }

  .color-label-5:hover {
    background: #085af2
  }

  .color-label-6 {
    background: #7076fa
  }

  .color-label-6:hover {
    background: #262ff7
  }

  .color-label-7 {
    background: #9473fd
  }

  .color-label-7:hover {
    background: #5a28fc
  }

  .color-label-8 {
    background: #c472ee
  }

  .color-label-8:hover {
    background: #a72ee6
  }

  .color-label-9 {
    background: #ef7ede
  }

  .color-label-9:hover {
    background: #e73acd
  }

  .color-label-10 {
    background: #f969aa
  }

  .color-label-10:hover {
    background: #f61f80
  }

  .color-label-11 {
    background: #fc587b
  }

  .color-label-11:hover {
    background: #fb0d40
  }

  .color-label-12 {
    background: #fa5a55
  }

  .color-label-12:hover {
    background: #f8120b
  }

  .color-label-13 {
    background: #ff7747
  }

  .color-label-13:hover {
    background: #f94100
  }

  .color-label-14 {
    background: #ffa415
  }

  .color-label-14:hover {
    background: #c77a00
  }

  .color-label-15 {
    background: #ffd234
  }

  .color-label-15:hover {
    background: #e6b300
  }

  .color-label-16 {
    background: #99d75a
  }

  .color-label-16:hover {
    background: #73b82d
  }

  .color-label-17 {
    background: #66c060
  }

  .color-label-17:hover {
    background: #42973c
  }

  .color-label-18 {
    background: #39ba5d
  }

  .color-label-18:hover {
    background: #277f40
  }
</style>
