<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleTabClick">
      <el-tab-pane label="项目BD" name="1">
        <div v-if="!projectData.tableData" class="no-data">
          <img src="../../../static/nodata.png" alt="">
          <p>暂无数据</p>
        </div>
        <div v-if="projectData.tableData">
          <div class="tool-bar">
            <el-input placeholder="请输入项目名搜索" class="input-search" v-model="search_project_name">
              <el-button slot="append" icon="el-icon-search" @click="getProjectList()"></el-button>
            </el-input>
            <div class="btn-box" style="padding-bottom: 15px;">
              <router-link to="/workBench/projectBDAdd" class="btn btn-primary">+ 创建项目</router-link>
              <!-- <a href="#/ProjectBDAdd" class="btn btn-primary">+ 创建项目</a>-->
              <!--<a href="#" class="btn btn-default" style="margin-left: 15px;">自定义列表</a>-->
            </div>
          </div>
          <el-table :data="projectData.tableData" stripe border style="width: 100%">
            <el-table-column type="index" :index="1"></el-table-column>
            <el-table-column prop="project_name" label="项目名称" width="180"></el-table-column>
            <el-table-column prop="project_creator" label="创建人"></el-table-column>
            <el-table-column prop="company_desc" label="公司简介"></el-table-column>
            <el-table-column prop="project_source" label="项目来源"></el-table-column>
            <el-table-column prop="company_industry" label="行业"></el-table-column>
            <el-table-column prop="company_addr" label="公司地址"></el-table-column>
            <el-table-column prop="finance_rotation" label="轮次"></el-table-column>
            <el-table-column prop="finance_expect" label="期望融资额"></el-table-column>
            <el-table-column prop="project_push_status" label="推进状态"></el-table-column>
            <el-table-column prop="id" label="详情">
              <template slot-scope="scope">
                <router-link :to="'/workBench/projectBDAdd?id='+scope.row.id">详情</router-link>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            @current-change="(page)=>{this.projectData.page = page;}"
            :current-page="1"
            :page-size="20"
            layout="total, prev, pager, next"
            :total="projectData.total" style="text-align: center;padding: 20px;">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="执行项目" name="2">
        <div v-if="!doProjectData.tableData" class="no-data">
          <img src="../../../static/nodata.png" alt="">
          <p>暂无数据</p>
        </div>
        <div v-if="doProjectData.tableData">
          <el-table :data="doProjectData.tableData" stripe border style="width: 100%">
            <el-table-column type="index" :index="1"></el-table-column>
            <el-table-column prop="project_name" label="项目名称" width="180"></el-table-column>
            <el-table-column prop="manager" label="负责人"></el-table-column>
            <el-table-column prop="company_desc" label="简介"></el-table-column>
            <el-table-column prop="project_source" label="项目来源"></el-table-column>
            <el-table-column prop="company_industry" label="行业"></el-table-column>
            <el-table-column prop="company_addr" label="区域"></el-table-column>
            <el-table-column prop="finance_rotation" label="轮次"></el-table-column>
            <el-table-column prop="finance_history[0].finance_total" label="期望融资额"></el-table-column>
            <el-table-column prop="project_push_status" label="推进状态"></el-table-column>
            <el-table-column prop="id" label="详情">
              <template slot-scope="scope">
                <router-link :to="'/workBench/projectBDAdd?id='+scope.row.id">详情</router-link>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            @current-change="(page)=>{projectData.page = page}"
            :current-page="1"
            :page-size="20"
            layout="total, prev, pager, next"
            :total="doProjectData.total" style="text-align: center;padding: 20px;">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="申请访问管理" style="display: none" name="3">
        <el-table :data="applyData.applyList" stripe border style="width: 100%">
          <el-table-column type="index" :index="1"></el-table-column>
          <el-table-column prop="project_name" label="申请项目" width="80"></el-table-column>
          <el-table-column prop="type" label="申请类型" width="80"></el-table-column>
          <el-table-column prop="real_name" label="姓名" width="80"></el-table-column>
          <el-table-column prop="job" label="职位"></el-table-column>
          <el-table-column prop="institution" label="机构"></el-table-column>
          <el-table-column prop="email" label="邮箱"></el-table-column>
          <el-table-column prop="description" label="个人简介"></el-table-column>
          <el-table-column prop="invest_field" label="领域"></el-table-column>
          <el-table-column prop="files_card" label="状态">
            <template slot-scope="scope">
              <span>{{scope.row.status ==0?'未审核':(scope.row.status ==1?'已通过':'已拒绝')}}</span>
            </template>
          </el-table-column>

          <el-table-column label="处理" width="180">
            <template slot-scope="scope">
              <el-input placeholder="拒绝原因" v-model="scope.row.auth_remark"></el-input>
              <el-button size="mini" type="primary" @click.prevent="doApply(scope.row.apply_id,1,scope.$index)">通过</el-button>
              <el-button size="mini" type="warning" @click.prevent="doApply(scope.row.apply_id,2,scope.$index)">拒绝</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          @current-change="(page)=>{this.authData.page = page}"
          :current-page="1"
          :page-size="20"
          layout="total, prev, pager, next"
          :total="authData.total" style="text-align: center;padding: 20px;">
        </el-pagination>
      </el-tab-pane>
      <el-tab-pane label="用户认证管理" style="display: none" name="4">
        <el-table :data="authData.authList" stripe border style="width: 100%">
          <el-table-column type="index" :index="1"></el-table-column>
          <el-table-column prop="real_name" label="姓名" width="80"></el-table-column>
          <el-table-column prop="job" label="职位"></el-table-column>
          <el-table-column prop="institution" label="机构"></el-table-column>
          <el-table-column prop="email" label="邮箱"></el-table-column>
          <el-table-column prop="city" label="城市"></el-table-column>
          <el-table-column prop="description" label="个人简介"></el-table-column>
          <el-table-column prop="invest_field" label="领域"></el-table-column>
          <el-table-column prop="invest_rotation" label="轮次"></el-table-column>
          <el-table-column prop="invest_money" label="投资金额"></el-table-column>
          <el-table-column prop="files_card" label="名片">
            <template slot-scope="scope">
              <a :href="scope.row.files_card" target="_blank"><img :src="scope.row.files_card" alt="" style="width: 100px;max-height: 60px;"></a>
            </template>
          </el-table-column>
          <el-table-column prop="files_card" label="状态">
            <template slot-scope="scope">
              <span>{{scope.row.status ==0?'未审核':(scope.row.status ==1?'已通过':'已拒绝')}}</span>
            </template>
          </el-table-column>

          <el-table-column label="处理" width="180">
            <template slot-scope="scope">
              <el-input placeholder="拒绝原因" v-model="scope.row.auth_remark"></el-input>
              <el-button size="mini" type="primary" @click.prevent="doAuth(scope.row.id,1,scope.$index)">通过</el-button>
              <el-button size="mini" type="warning" @click.prevent="doAuth(scope.row.id,2,scope.$index)">拒绝</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          @current-change="(page)=>{this.authData.page = page}"
          :current-page="1"
          :page-size="20"
          layout="total, prev, pager, next"
          :total="authData.total" style="text-align: center;padding: 20px;">
        </el-pagination>
      </el-tab-pane>
      <!--<el-tab-pane label="我的人脉" style="display: none" name="3">
        <div class="tool-bar">
          <div class="btn-box" style="padding-bottom: 15px;">
            <a href="#" class="btn btn-primary">+ 添加人脉</a>
          </div>
        </div>
        <el-table :data="relData.tableData" stripe border style="width: 100%">
          <el-table-column type="index" :index="1"></el-table-column>
          <el-table-column prop="project_name" label="姓名" width="180"></el-table-column>
          <el-table-column prop="project_job" label="职位"></el-table-column>
          <el-table-column prop="project_company" label="公司"></el-table-column>
          <el-table-column prop="project_wx" label="微信"></el-table-column>
          <el-table-column prop="project_phone" label="手机"></el-table-column>
          <el-table-column prop="project_email" label="邮箱"></el-table-column>
          <el-table-column prop="project_tzarea" label="投资领域"></el-table-column>
          <el-table-column prop="project_lc" label="投资轮次"></el-table-column>
          <el-table-column prop="project_mark" label="标签"></el-table-column>
        </el-table>
        <el-pagination
          @current-change="(page)=>{this.doProjectData.page = page}"
          :current-page="1"
          :page-size="100"
          layout="total, prev, pager, next"
          :total="1000" style="text-align: center;padding: 20px;">
        </el-pagination>
      </el-tab-pane>-->
    </el-tabs>
  </div>
</template>
<script>
  import moment from 'moment';
  import {
    listProject,
    applyList, //申请访问
    doApply,
    authList,
    doAuth
  } from '@/api/api';

  export default {
    data() {
      return {
        activeName: '1',
        search_project_name: '',
        projectData: {
          page: 1,
          total: 0,
          tableData: [
            /*{
              project_name: '卓越教育',
              project_people: '王小虎',
              company_desc: '音乐课程',
              project_source: '新闻渠道',
              company_industry: '音乐教育',
              project_area: '北京',
              project_level: '种子轮',
              project_rongzi: '1000万',
              project_status: '入库'
            }*/
          ]
        },
        doProjectData: {
          page: 1,
          total: 0,
          tableData: []
        },
        relData: {
          tableData: []
        },
        applyData:{
          applyList:[]
        },
        authData: {
          page: 1,
          total: 0,
          authList: []
        }
      }
    },
    watch: {
      'projectData.page'() {
        this.getProjectList()
      },
      'doProjectData.page'() {
        this.getdoProjectDataList()
      }
    },
    mounted() {
      this.getProjectList();
      this.getdoProjectDataList();
      this.getApplyList();
      this.getAuthList();
    },
    methods: {
      handleTabClick(tab, event) {
        //console.log(tab, event);
      },
      projectDataPageChange(val) {
        this.getProjectList(val)
      },
      getProjectList() {
        listProject({
          params: {
            project_name: this.search_project_name,
            page: this.projectData.page,
            limit: 10
          }
        }).then((retData) => {
          var _data = retData.data.list;
          this.projectData.tableData = _data;
          this.projectData.total = retData.data.count;
        })
      },
      getdoProjectDataList() {
        listProject({
          params: {
            project_name: this.search_project_name,
            page: this.doProjectData.page,
            type: 1
          }
        }).then((retData) => {
          var _data = retData.data.list;
          this.doProjectData.tableData = _data;
          this.doProjectData.total = retData.data.count;
        })
      },
      //访问管理
      getApplyList(){
        applyList({
          params: {
            page: this.applyData.page
          }
        }).then(res => {
          this.applyData.applyList = res.data.list
          this.applyData.total = res.data.count
        })
      },
      doApply(apply_id, status, index){
        var that = this;
        doApply({
          params: {
            apply_id: apply_id,
            status: status,
            auth_remark: that.applyData.applyList[index].apply_remark
          }
        }).then(res => {
          this.$message({
            message: res.data,
            type: 'success'
          });
          that.applyData.applyList[index].status = status;
        })
      },
      //认证管理列表
      getAuthList() {
        authList({
          params: {
            page: this.authData.page
          }
        }).then(res => {
          this.authData.authList = res.data.list
          this.authData.total = res.data.count
        })
      },
      //处理认证
      doAuth(id, status, index) {
        var that = this;

        doAuth({
          params: {
            id: id,
            status: status,
            auth_remark: that.authData.authList[index].auth_remark
          }
        }).then(res => {
          this.$message({
            message: res.data,
            type: 'success'
          });
          that.authData.authList[index].status = status;
        })
      }
    }
  };
</script>
<style type="text/scss" lang="scss" scope>
  .el-tabs {
    padding: 0px 20px;
  }

  .tool-bar {
    display: flex;
    justify-content: space-between;
    .btn-box {
      .btn {
        display: inline-block;
        font-size: 14px;
        border-radius: 15px;
        min-width: 100px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        &.btn-default {
          background-color: white;
          color: #3e3e3e;
          border: 1px solid rgb(196, 196, 196);
        }
        &.btn-primary {
          background-color: rgb(59, 140, 255);
          color: white;
        }
      }
    }
    .input-search {
      width: 400px;
    }
  }

  .el-table {
    th {
      color: #4e4e4e;
    }
  }

  .no-data {
    text-align: center;
    p {
      color: #aeaeae;
      font-size: 16px;
      padding: 0px;
    }
  }

  .color-box {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      list-style: none;
      padding: 0px;
      display: inline-block;
      margin-right: 6px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 100%;
      span {
        padding: 2px 4px 6px 5px;
        width: 25px;
        height: 25px;
        .icon-duihao {
          color: transparent;
          &.sel {
            color: white;
          }
        }
      }
    }
  }

  .color-label-1 {
    background: #22d7bb
  }

  .color-label-1:hover {
    background: #189582
  }

  .color-label-2 {
    background: #18bfa4
  }

  .color-label-2:hover {
    background: #0f7b6a
  }

  .color-label-3 {
    background: #2cccda
  }

  .color-label-3:hover {
    background: #1c939e
  }

  .color-label-4 {
    background: #2dbcff
  }

  .color-label-4:hover {
    background: #0098e0
  }

  .color-label-5 {
    background: #4e8af9
  }

  .color-label-5:hover {
    background: #085af2
  }

  .color-label-6 {
    background: #7076fa
  }

  .color-label-6:hover {
    background: #262ff7
  }

  .color-label-7 {
    background: #9473fd
  }

  .color-label-7:hover {
    background: #5a28fc
  }

  .color-label-8 {
    background: #c472ee
  }

  .color-label-8:hover {
    background: #a72ee6
  }

  .color-label-9 {
    background: #ef7ede
  }

  .color-label-9:hover {
    background: #e73acd
  }

  .color-label-10 {
    background: #f969aa
  }

  .color-label-10:hover {
    background: #f61f80
  }

  .color-label-11 {
    background: #fc587b
  }

  .color-label-11:hover {
    background: #fb0d40
  }

  .color-label-12 {
    background: #fa5a55
  }

  .color-label-12:hover {
    background: #f8120b
  }

  .color-label-13 {
    background: #ff7747
  }

  .color-label-13:hover {
    background: #f94100
  }

  .color-label-14 {
    background: #ffa415
  }

  .color-label-14:hover {
    background: #c77a00
  }

  .color-label-15 {
    background: #ffd234
  }

  .color-label-15:hover {
    background: #e6b300
  }

  .color-label-16 {
    background: #99d75a
  }

  .color-label-16:hover {
    background: #73b82d
  }

  .color-label-17 {
    background: #66c060
  }

  .color-label-17:hover {
    background: #42973c
  }

  .color-label-18 {
    background: #39ba5d
  }

  .color-label-18:hover {
    background: #277f40
  }
</style>
