<template>
  <el-container>
    <el-header>
      <common-header></common-header>
    </el-header>
    <el-main>
      <div class="forget-box">
        <h1>找回密码</h1>
        <el-steps :active="current" finish-status="success" style="margin:40px auto;">
          <el-step title="邮箱验证"></el-step>
          <el-step title="设置密码"></el-step>
          <el-step title="完成"></el-step>
        </el-steps>
        <el-card v-if="current==0">
          <el-form ref="form1" label-width="90px" :style="{padding:'40px 10px 20px'}" :model="form" :rules="rules" size="large">
            <el-form-item prop="email" label="邮箱">
                <el-input type="text" v-model="form.email" placeholder="请输入邮箱">
                </el-input>
            </el-form-item>
            <el-form-item prop="validCode" label="验证码">
              <el-row type="flex" justify="space-between">
                <el-col :span="14">
                  <el-input type="text" v-model="form.validCode" placeholder="验证码">
                  </el-input>
                </el-col>
                <el-col :span="9">
                  <el-button type="primary" @click="sendValidcode" style="width:100%;">发送验证码</el-button>
                </el-col>
              </el-row>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="handleValid">下一步</el-button>
            </el-form-item>
          </el-form>
        </el-card>
        <el-card v-if="current==1">
          <el-form ref="form2" label-width="90px" :style="{padding:'40px 10px 20px'}" :model="form" :rules="rules" size="large">
            <el-form-item prop="password" label="新密码">
                <el-input type="password" v-model="form.password" placeholder="请输入新密码">
                </el-input>
            </el-form-item>
            <el-form-item prop="confirmPassword" label="确认密码">
                <el-input type="password" v-model="form.confirmPassword" placeholder="请再次输入密码">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="resetPassword">确认</el-button>
                <el-button @click="stepBack">上一步</el-button>
            </el-form-item>
          </el-form>
        </el-card>        
      </div>   
    </el-main>
  </el-container>
</template>
<script>
import Header from "./common/Header.vue";
export default {
  components: {
    commonHeader: Header
  },
  data() {
    return {
      current: 0,
      form: {
        email: "test@11.com",
        validCode: "",
        password: "",
        confirmPassword: ""
      },
      rules: {
        email: [
          {
            required: true,
            message: "请输入邮箱.",
            trigger: "blur"
          }
        ],
        validCode: [
          {
            required: true,
            message: "请输入验证码.",
            trigger: "blur"
          },
          {
            type: "string",
            min: 4,
            message: "验证码长度不小于4位",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码.",
            trigger: "blur"
          },
          {
            type: "string",
            min: 6,
            message: "密码长度不小于6位",
            trigger: "blur"
          }
        ],
        confirmPassword: [
          {
            validator: (rule, value, callback) => {
              if (value === "") {
                callback(new Error("请再次输入密码"));
              } else if (value !== this.form.password) {
                callback(new Error("两次输入密码不一致!"));
              } else {
                callback();
              }
            },
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    sendValidcode() {},
    handleValid() {
      this.$refs["form1"].validate(valid => {
        if (valid) {
          this.current = 1;
        }
      });
    },
    stepBack() {
      this.form = {
        email: this.form.email,
        validCode: "",
        password: "",
        confirmPassword: ""
      };
      this.current = 0;
    },
    resetPassword() {
      this.$refs["form2"].validate(valid => {
        if (valid) {
          this.current = 2;
          setTimeout(() => {
            this.$router.replace("/login");
          }, 1000);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.forget-box {
  margin: 84px auto;
  width: 550px;
  h1 {
    text-align: center;
  }
}
</style>

