<template>
  <el-container class="bd-box">
    <el-header>
      <common-header></common-header>
    </el-header>
    <div class="main-body">
      <router-view/>
    </div>
  </el-container>
</template>
<script>
  import $ from 'jquery';
  import Header from "./common/Header.vue";

  export default {
    components: {
      commonHeader: Header
    },
    computed: {
      minHeight() {
        // 计算内容高度，撑开页面
        let windowHeight =
          window.innerHeight ||
          document.documentElement.clientHeight ||
          document.body.clientHeight;
        return windowHeight - 60 + "px";
      }
    }
  };
</script>
<style type="text/scss" lang="scss" scope>
  .bd-box {
    background: #f1f2f7;
  }

  .el-header {
    padding: 0px;
    background-color: #ffffff !important;
    margin-bottom: 10px !important;
  }

  .main-body {
    width: 1400px;
    margin: 0px auto;
    background: white;
    border-radius: 3px;
    min-height: calc(100vh - 70px);
  }
</style>
