<template>
  <div>
    <div class="h-menu">
      <a href="/" class="logo"><img src="../../static/logo.png"></a>
    </div>
    <div class="login-box">
      <iframe src="http://fa.hupogu.com/index.php/Login/goWeixin" frameborder="0" height="500px"></iframe>
    </div>
  </div>
</template>
<script>

  import Header from "./common/Header.vue";
  import {loginInfo} from "@/api/api";

  export default {
    components: {
      commonHeader: Header
    },
    mounted() {

    },
    data() {
      return {};
    },
    methods: {}
  };
</script>

<style type="text/scss" lang="scss" scope>
  .login-box {
    display: flex;
    justify-content: center;
  }

  .h-menu {
    width: 1400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 200px;
      padding-left: 10px;
    }
    .menu-cls {
      flex: 1;
    }
  }
</style>

