<template>
  <el-container>
    <!--左侧边-->
    <el-aside width="220px" :style="{minHeight:(clientHeight-70)+'px'}">
      <div class="header">项目列表</div>
      <div class="body-list">
        <el-tree
          :data="schedules"
          node-key="id"
          default-expand-all
          :expand-on-click-node="false">
          <div class="custom-tree-node" slot-scope="{ node, data }"
               :class="{subnode:!data.root,on:!data.root&&(curProjectId==data.id)}"
               @click.prevent="curProjectId = data.id" :data-id="data.id">
            <i v-if="!data.root" class="iconfont icon-checkbox icon-fangxing" :style="{color:data.color}"></i>
            <span class="ctn">{{ data.label }}</span>
            <!--<i v-if="!data.root" class="iconfont icon-bianji1" @click.prevent="editSchedule(data)"></i>
            <i v-if="!data.root" class="iconfont icon-del"></i>
            <i v-if="data.root" class="iconfont icon-checkbox icon-jia" @click.prevent="newScheduleVisible=true"></i>-->
          </div>
        </el-tree>
      </div>
    </el-aside>
    <!--主体日历-->
    <el-main>
      <div id="calendar" class="calender-full" :style="{height:clientHeight-60}"></div>
      <!--日历鼠标悬浮信息窗-->
      <div class="calendar-mouseover-detail" v-show="eventDetailData.visible"
           :style="{left:eventDetailData.pos.x+'px',top:eventDetailData.pos.y+'px'}">
        <div class="calendar-min-detail">
          <div class="event-title">
            <span class="title ng-binding">
              <i class="fa fa-square" :style="{background:eventDetailData.event.color}"></i>{{eventDetailData.event.title}}</span>
          </div>
          <div class="event-date">
            <div class="end-date">
              <span class="time ng-binding">{{moment(eventDetailData.event.start).format('HH:mm')}}</span>
              <span class="day ng-binding">{{moment(eventDetailData.event.start).format('LL').substr(5)}}</span>
            </div>
            <div class="end-date m-l-10">
              <span class="time ng-binding">{{moment(eventDetailData.event.end).format('HH:mm')}}</span>
              <span class="day ng-binding">{{moment(eventDetailData.event.end).format('LL').substr(5)}}</span>
            </div>
          </div>
          <div class="event-action ng-scope">
            <a href="javascript:;" class="btn btn-primary" @click="showEvent();">查看详情</a>
            <a href="javascript:;" class="btn btn-link ng-scope" @click="showEvent()">编辑</a>
            <!-- end ngIf: vm.instanceEvent.isEdit -->
          </div>
        </div>
      </div>
    </el-main>
    <!--新建、编辑日程弹窗-->
    <el-dialog
      title="新建日程"
      :visible.sync="eventForm.visible"
      width="40%">
      <el-form ref="eventForm" :model="eventForm" label-width="80px">
        <el-form-item label="状态" class="join-status" v-show="isjoin">
          <el-row class="join-status">
            <el-col :span="20">
              <a class="join-btn status-1" :class="{select:joinstatus==1}" @click.prevent="changeJoinStatus(1)"
                 href="#">参加</a>
              <a class="join-btn status-2" :class="{select:joinstatus==2}" @click.prevent="changeJoinStatus(2)"
                 href="#">暂定</a>
              <a class="join-btn status-3" :class="{select:joinstatus==3}" @click.prevent="changeJoinStatus(3)"
                 href="#">谢绝</a>
            </el-col>
            <el-col :span="4">
              <el-button size="mini" round @click.prevent="delEvent" type="danger">删除日程</el-button>
            </el-col>
          </el-row>
        </el-form-item>
        <el-form-item label="日程名">
          <el-input v-model="eventForm.title"></el-input>
        </el-form-item>
        <el-form-item label="项目">
          <el-select v-model="eventForm.project_id" clearable placeholder="请选择">
            <el-option
              v-for="item in schedules[0].children"
              :key="item.id"
              :label="item.label"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="参与人" id="memebers">
          <el-transfer class="my-memebers" v-model="eventForm.selMembers" :data="members"
                       :titles="['全部人员', '参与人员']">
            <span slot-scope="{ option }"
                  :class="'status-'+option.joinstatus">{{ option.label }}</span>
          </el-transfer>
        </el-form-item>
        <el-form-item label="时间">
          <el-col :span="11">
            <el-date-picker type="datetime" placeholder="开始时间" v-model="eventForm.start"
                            style="width: 100%;"></el-date-picker>
          </el-col>
          <el-col class="line" :span="2" style="text-align: center">-</el-col>
          <el-col :span="11">
            <el-date-picker type="datetime" placeholder="结束时间" v-model="eventForm.end"
                            style="width: 100%;"></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item label="地点">
          <el-input v-model="eventForm.location"></el-input>
        </el-form-item>
        <el-form-item label="描述">
          <el-input v-model="eventForm.description"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="eventForm.visible = false">取 消</el-button>
        <el-button type="primary" @click.prevent="saveEvent()">确 定</el-button>
      </div>
    </el-dialog>
    <!--日程详情弹窗-->
    <!-- <el-dialog
       title="日程详情"
       :visible.sync="detailVisible11"
       width="40%">
       <div class="detail-box">
         <el-row class="join-status">
           <el-col :span="2">状态</el-col>
           <el-col :span="22">
             <a class="join-btn status-1" :class="{select:joinstatus==1}" @click.prevent="changeJoinStatus(1)" href="#">参加</a>
             <a class="join-btn status-2" :class="{select:joinstatus==2}" @click.prevent="changeJoinStatus(2)" href="#">暂定</a>
             <a class="join-btn status-3" :class="{select:joinstatus==3}" @click.prevent="changeJoinStatus(3)" href="#">谢绝</a>
           </el-col>
         </el-row>
         <el-row>
           <el-col :span="2">日程名</el-col>
           <el-col :span="22">{{eventForm.title}}</el-col>
         </el-row>
         <el-row>
           <el-col :span="2">项目</el-col>
           <el-col :span="22">{{schedules[0].children[eventForm.project_id]}}</el-col>
         </el-row>
         <el-row>
           <el-col :span="2">参与人</el-col>
           <el-col :span="22">
             <span v-for="item in eventForm.selMembers">{{item}}</span>
           </el-col>
         </el-row>
         <el-row>
           <el-col :span="2">开始时间</el-col>
           <el-col :span="22">{{eventForm.start}}</el-col>
         </el-row>
         <el-row>
           <el-col :span="2">结束时间</el-col>
           <el-col :span="22">{{eventForm.end}}</el-col>
         </el-row>
         <el-row>
           <el-col :span="2">地点</el-col>
           <el-col :span="22">{{eventForm.location}}</el-col>
         </el-row>
         <el-row>
           <el-col :span="2">描述</el-col>
           <el-col :span="22">{{eventForm.description}}</el-col>
         </el-row>
       </div>
       <div slot="footer" class="dialog-footer">
         <el-button @click="eventForm.visible = false">取 消</el-button>
         <el-button type="primary" @click.prevent="saveEvent">确 定</el-button>
       </div>
     </el-dialog>-->
    <!--新建日历弹窗-->
    <el-dialog
      title="新建日历"
      :visible.sync="newScheduleVisible"
      width="40%">
      <el-form ref="eventForm" :model="eventForm" label-width="80px">
        <el-form-item label="日历名称">
          <el-input v-model="eventForm.name" placeholder="请输入日历名称"></el-input>
        </el-form-item>
        <el-form-item>
          <ul class="color-box">
            <li v-for="idx in colors.counts" class="color-item" :class="'color-label-'+idx"
                @click.prevent="colors.sel=idx">
              <span><i class="iconfont icon-duihao" :class="{sel:idx==colors.sel}"></i></span>
            </li>
          </ul>
        </el-form-item>
        <el-form-item label="日历成员" id="memebers">
          <el-transfer class="my-memebers" v-model="eventForm.selMembers" :data="eventForm.members"
                       :titles="['全部人员', '所选人员']"></el-transfer>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </el-container>
</template>
<script>
  require('fullcalendar/dist/fullcalendar.min.css');
  import moment from 'moment';
  import {
    getMembers,
    getProjectsList,
    getScheduleList,
    getScheduleDetail,
    addEditSchedule,
    delSchedule,
    joinStatus
  } from '@/api/api';

  moment.locale('zh-cn');
  export default {
    data() {
      return {
        moment: moment,
        initCanlendered: false,
        clientHeight: 600,
        curProjectId: 0,
        curMonth: moment().format('YYYY-MM'),

        //成员列表
        members: [],

        //项目列表
        schedules: [
          {
            id: 0,
            label: '我的项目',
            root: true,
            children: [{
              id: 5,
              label: '成员日程 2-1',
              color: '#22d7bb',
              colorType: 1
            }]
          }
        ],
        newScheduleVisible: false,
        colors: {
          counts: 15,
          sel: 1
        },

        curEventId: -1,//非-1表示编辑；
        joinstatus: 0,
        //日程事件
        eventsData: [
          /*{
            id: 11,
            title: '日程安排1',
            start: '2018-03-07 14:00:00',
            end: '2018-03-08 12:00:00',
            color: '#22d7bb',
            colorType: 1
          }*/
        ],
        //日程基本信息
        eventDetailData: {
          visible: false,
          pos: {
            x: 0,
            y: 0
          },
          event: {}
        },
        //日程表单信息
        eventForm: {
          visible: false,
          title: 'title',
          project_id: null,
          selMembers: [],
          start: '',
          end: '',
          location: '',
          description: ''
        },
        isjoin: false,
        eventNewForm: {
          visible: false,
          title: '',
          project_id: null,
          selMembers: [],
          start: '',
          end: '',
          location: '',
          description: ''
        }
      }
    },
    watch: {
      curProjectId() {
        this.getScheduleList()
      },
      curMonth() {
        this.getScheduleList()
      },
      curEventId() {
        //console.log(this.curEventId)
      }
    },
    mounted() {
      var that = this;
      this.getMembers();
      this.getProjectsList();
      this.getScheduleList()
    },
    methods: {
      getMembers(keyword = '') {
        getMembers({keyword: keyword}).then((retData) => {
          var _data = retData.data;
          _data.forEach((v, i) => {
            _data[i].key = v.id;
            _data[i].joinstatus = 0;
          })
          this.members = _data;
        })
      },
      getProjectsList() {
        getProjectsList({params: {project_id: this.curProjectId}}).then((retData) => {
          this.schedules[0].children = retData.data;
        })
      },
      getScheduleList() {
        getScheduleList({
          params: {
            project_id: this.curProjectId,
            select_time: this.curMonth.split('-').join('')
          }
        }).then((retData) => {
          var _data = retData.data;
          _data.forEach((v, i) => {
            _data[i].index = i;
          })

          this.eventsData = _data;
          if (this.initCanlendered) {
            $('#calendar').fullCalendar('removeEvents')
            $('#calendar').fullCalendar('addEventSource', this.eventsData);
          } else {
            this.initCanlender();
          }
        })
      },
      initCanlender() {
        var that = this;


        $('#calendar').fullCalendar({
          header: {
            left: '',
            center: 'prev title next',
            right: ''
          },
          displayEventTime: false,
          handleWindowResize: true,
          locale: 'zh-cn',
          defaultDate: that.curMonth + '-' + moment().format('DD'),
          eventLimit: true, // allow "more" link when too many events
          dayClick: function (event, jsEvent, view) {
            that.showAddEvent(event);
          },
          eventClick: function (event, jsEvent, view) {

            //that.
            /*console.log('Event: ' + calEvent.title);
            console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            console.log('View: ' + view.name);

            // change the border color just for fun
            $(this).css({
              'background-color': 'red',
              'border-color': 'red'
            });*/
            //event.title = "CLICKED!";

            //$('#calendar').fullCalendar('updateEvent', event);

          },
          eventAfterRender: function (event, element, view) {
            $(element).data('index', event.index).on('click', function () {
              that.curEventId = that.eventsData[event.index].id
              that.showEvent()
            })
          },
          eventAfterAllRender: function (view) {
            $(view.el).on('dblclick', '.fc-day', function () {
              //console.log($(this))

              return false;
            })
          },
          eventMouseover(event, jsEvent, view) {
            var $curEle = $(jsEvent.currentTarget)
            that.eventDetailData.event = that.eventsData[event.index]
            //console.log(that.eventDetailData.event)
            that.eventDetailData.visible = true;
            that.eventDetailData.pos.x = $curEle.offset().left;
            that.eventDetailData.pos.y = $curEle.offset().top + $curEle.height() + 1;
            that.curEventId = that.eventsData[event.index].id
          },
          eventMouseout(calEvent, jsEvent, view) {
            if (!$(jsEvent.relatedTarget).hasClass('calendar-mouseover-detail'))
              that.eventDetailData.visible = false;
          },
          events: that.eventsData,
          buttonText: {
            today: '今天',
            month: '月',
            week: '周',
            day: '日'
          },
          allDayText: "全天"
        });

        $('#calendar').on('click', '.fc-prev-button', function () {
          that.curMonth = moment(that.curMonth).subtract(1, 'months').format('YYYY-MM');
          console.log('prev:' + that.curMonth)
          return false;
        }).on('click', '.fc-next-button', function () {
          that.curMonth = moment(that.curMonth).add(1, 'months').format('YYYY-MM');
          console.log('next:' + that.curMonth)
          return false;
        });

        $('.calendar-mouseover-detail').on('mouseleave', function () {
          that.eventDetailData.visible = false;
        })

        this._initCanlenderHeight();

        this.initCanlendered = true;
      },
      showAddEvent(moment) {
        this.eventForm = $.extend({}, this.eventNewForm);
        this.isjoin = false;
        this.eventForm.start = new Date(moment.format('YYYY-MM-DD HH:mm:ss'));
        this.eventForm.end = new Date(moment.add(30, 'minutes').format('YYYY-MM-DD HH:mm:ss'));
        this.eventForm.visible = true;
      },
      showEvent() {
        getScheduleDetail({
          params: {id: this.curEventId}
        }).then((retData) => {
          var _d = $.extend({}, retData.data);
          _d.selMembers = [];

          this.members.map((m) => {
            m.joinstatus = 0; //重置所有人默认状态

            _d.user.map((v) => {
              //与当前匹配的人，修改对应状态
              if (m.id == v.id) {
                m.joinstatus = v.joinstatus;
                _d.selMembers.push(v.id);
              }
            })
          })

          _d.start = new Date(_d.start);
          _d.end = new Date(_d.end);
          _d.visible = true;
          this.joinstatus = parseInt(_d.joinstatus);
          this.eventForm = _d;
          this.isjoin = !!_d.isjoin
        })
      },
      saveEvent() {
        var params = $.extend({}, this.eventForm);
        params.uids = params.selMembers.join(',');

        addEditSchedule(params).then((retData) => {
          if (retData.errorno == 0) {
            this.eventForm.visible = false;

            this.getScheduleList();
          } else {
            this.$message({
              type: 'error',
              message: retData.data
            });
          }
        })
      },
      delEvent() {
        this.$confirm('确认删除该日程?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          delSchedule({params: {id: this.curEventId}}).then((retData) => {
            if (retData.errorno == 0) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              });
              this.getScheduleList();
              this.eventForm = this.eventNewForm;
              this.isjoin = false;
              this.eventForm.visible = false;
            } else {
              this.$message({
                type: 'info',
                message: retData.data
              });
            }
          })
        })
      },
      saveJoinStatus() {
        joinStatus({params: {id: this.curEventId, status: this.joinstatus}}).then((retData) => {
          if (retData.errorno == 0) {
            //this.eventForm.visible = false;
          } else {
            this.$message({
              type: 'error',
              message: retData.data
            });
          }
        })
      },
      changeJoinStatus(status) {
        this.joinstatus = this.joinstatus == status ? 0 : status;
        this.saveJoinStatus();
      },
      renderFunc(h, option) {
        return '<span class="status-"' + option.joinstatus + '>' + option.label + '</span>';
      },
      _initCanlenderHeight() {
        var that = this;

        this.clientHeight = `${document.documentElement.clientHeight}`;
        $('#calendar').fullCalendar('option', 'height', that.clientHeight - 110);

        $(window).on('resize', function () {
          that.clientHeight = `${document.documentElement.clientHeight}`
          $('#calendar').fullCalendar('option', 'height', that.clientHeight - 110);
        })
      }
    }
  };
</script>
<style type="text/scss" lang="scss">
  $status_1_color: #16b4de;
  $status_2_color: #cfa32c;
  $status_3_color: #e3161e;
  .el-aside {
    border-right: 1px solid #ededed;
    padding-left: 5px;
    .header {
      height: 50px;
      line-height: 50px;
      padding: 0px 10px;
      border-bottom: 1px solid #ededed;
    }
    .body-list {
      padding: 0px 0px;
    }
    .el-tree-node__content {
      padding-left: 0px !important;
      height: auto;
      .el-tree-node__expand-icon {
        font-size: 18px;
        color: #999;
        &.is-leaf {
          color: transparent;
        }
      }
      .custom-tree-node {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        padding-right: 10px;
        color: #333;
        font-size: 15px;
        .ctn {
          flex: 1;
        }
        .iconfont {
          margin-top: 5px;
          &.icon-jia {
            font-size: 13px;
            color: #999;
          }
          &.icon-bianji1, &.icon-del {
            display: none;
            font-size: 14px;
            color: #999;
            margin: 0px 2px;
          }
        }
        &:hover {
          .iconfont {
            &.icon-bianji1, &.icon-del {
              display: inline-block;
            }
          }
        }
      }
      .subnode {
        font-size: 13px;
        padding: 0px;
        color: #666;
        &.on {
          background: antiquewhite;
        }
      }
    }

    .iconfont {
      font-size: 18px;
      &.icon-checkbox {
        margin-right: 4px;
      }
      &.icon-gengduo {
        font-size: 10px;
      }
    }
  }

  .event-action {
    .btn {
      display: inline-block;
      padding: 5px 0px;
      line-height: 1.42857143;
      border-radius: 20px;
      text-decoration: none;
      font-size: 12px;
      &.btn-primary {
        color: #fff;
        background-color: #22d7bb;
        border-color: #22d7bb;
        padding: 2px 15px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 20px;
      }
      &.btn-link {
        color: #22d7bb;
        text-decoration: underline;
      }
    }
  }

  .calendar-mouseover-detail {
    background: #fff;
    z-index: 100;
    display: block;
    padding: 15px;
    box-shadow: 0 0 24px rgba(0, 0, 0, .18);
    min-width: 240px;
    position: absolute;
    left: 697px;
    top: 372px;
    color: #666;
    font-size: 12px;
    .fa-square {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: rgb(249, 105, 170);
      box-shadow: 0px 0px 1px;
      border-radius: 2px;
      margin-right: 5px;
      vertical-align: text-bottom;
    }
    .event-date {
      margin: 20px 0px;
      display: flex;
      .end-date {
        margin-right: 5px;
        .time {
          font-size: 22px;
          color: #333;
          line-height: 22px;
        }
        .day {
          color: #888;
        }
      }
    }
    .event-action {
      margin-top: 10px;
      text-align: left;
      font-size: 14px;
      .btn-link {
        margin-left: 10px;
      }
    }
  }

  .fc-day-grid-event .fc-content {
    font-size: 12px;
    padding: 1px;
  }

  .el-transfer-panel:nth-last-of-type(1) {
    .status-1 {
      color: $status_1_color;
    }

    .status-2 {
      color: $status_2_color;
    }

    .status-3 {
      color: $status_3_color;
    }
  }

  .el-dialog__body {
    padding: 10px 20px;
    .join-status {
      .join-btn {
        display: inline-block;
        width: 70px;
        text-align: center;
        line-height: 20px;
        border-radius: 30px;
        height: 20px;
        text-decoration: none;
        &.status-1 {
          border: 1px solid $status_1_color;
          color: $status_1_color;
          &.select {
            background: $status_1_color;
            color: white;
          }
        }
        &.status-2 {
          border: 1px solid $status_2_color;
          color: $status_2_color;
          &.select {
            background: $status_2_color;
            color: white;
          }
        }
        &.status-3 {
          border: 1px solid $status_3_color;
          color: $status_3_color;
          &.select {
            background: $status_3_color;
            color: white;
          }
        }
      }
    }
  }

  .my-memebers {
    font-size: 12px;
    .el-transfer-panel {
      width: 35%;
    }
    .el-transfer__button {
      padding: 5px;
    }
    .el-transfer-panel .el-transfer-panel__header {
      height: 30px;
      line-height: 30px;
    }
    .el-transfer-panel .el-transfer-panel__header .el-checkbox {
      height: 30px;
      line-height: 30px;
    }
    .el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
      font-size: 13px;
    }
    .el-transfer-panel__body, .el-transfer-panel__list {
      height: 150px;
    }
  }

  .color-box {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      list-style: none;
      padding: 0px;
      display: inline-block;
      margin-right: 6px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 100%;
      span {
        padding: 2px 4px 6px 5px;
        width: 25px;
        height: 25px;
        .icon-duihao {
          color: transparent;
          &.sel {
            color: white;
          }
        }
      }
    }
  }

  .color-label-1 {
    background: #22d7bb
  }

  .color-label-1:hover {
    background: #189582
  }

  .color-label-2 {
    background: #18bfa4
  }

  .color-label-2:hover {
    background: #0f7b6a
  }

  .color-label-3 {
    background: #2cccda
  }

  .color-label-3:hover {
    background: #1c939e
  }

  .color-label-4 {
    background: #2dbcff
  }

  .color-label-4:hover {
    background: #0098e0
  }

  .color-label-5 {
    background: #4e8af9
  }

  .color-label-5:hover {
    background: #085af2
  }

  .color-label-6 {
    background: #7076fa
  }

  .color-label-6:hover {
    background: #262ff7
  }

  .color-label-7 {
    background: #9473fd
  }

  .color-label-7:hover {
    background: #5a28fc
  }

  .color-label-8 {
    background: #c472ee
  }

  .color-label-8:hover {
    background: #a72ee6
  }

  .color-label-9 {
    background: #ef7ede
  }

  .color-label-9:hover {
    background: #e73acd
  }

  .color-label-10 {
    background: #f969aa
  }

  .color-label-10:hover {
    background: #f61f80
  }

  .color-label-11 {
    background: #fc587b
  }

  .color-label-11:hover {
    background: #fb0d40
  }

  .color-label-12 {
    background: #fa5a55
  }

  .color-label-12:hover {
    background: #f8120b
  }

  .color-label-13 {
    background: #ff7747
  }

  .color-label-13:hover {
    background: #f94100
  }

  .color-label-14 {
    background: #ffa415
  }

  .color-label-14:hover {
    background: #c77a00
  }

  .color-label-15 {
    background: #ffd234
  }

  .color-label-15:hover {
    background: #e6b300
  }

  .color-label-16 {
    background: #99d75a
  }

  .color-label-16:hover {
    background: #73b82d
  }

  .color-label-17 {
    background: #66c060
  }

  .color-label-17:hover {
    background: #42973c
  }

  .color-label-18 {
    background: #39ba5d
  }

  .color-label-18:hover {
    background: #277f40
  }
</style>
