<template>
  <div class="h-menu">
    <a href="/" class="logo"><img src="../../../static/logo.png"></a>
    <common-menu></common-menu>
    <div class="use-box" v-if="user">
      <i class="iconfont icon-yonghu"></i>你好
      <span>{{user.user_name}}</span>
      <a href="#" class="logout" @click.prevent="loginOut">退出</a>
    </div>
  </div>
</template>

<script>
  import Menu from "./Menu.vue";
  import {loginOut} from "@/api/api";

  export default {
    components: {
      commonMenu: Menu
    },
    props: {
      minHeight: 30
    },
    computed: {
      user() {
        return this.$store.state.user;
      }
    },
    methods: {
      loginOut(){
        loginOut().then(()=>{
          this.$router.replace('/login')
        })
      }
    }
  };
</script>
<style type="text/scss" lang="scss" scope>
  .h-menu {
    width: 1400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 200px;
      padding-left: 10px;
    }
    .menu-cls {
      flex: 1;
    }
  }

  .use-box {
    color: #6c6c6c;
    font-size: 14px;
    .iconfont {
      margin-right: 5px;
    }
    a {
      color: #6c6c6c;
      text-decoration: none;
      margin-left: 10px;
    }
  }
</style>

