<template>
  <el-menu :default-active="$route.path" :router="true" mode="horizontal" class="menu-cls"
           text-color="#0c0c0c" active-text-color="#3b8cff">
    <el-menu-item v-for="(v,i) in menu" :index="v.url" :key="i">{{v.name}}</el-menu-item>
  </el-menu>
</template>

<script>
  var menu = [
    {
      name: "首页",
      url: "/"
    },
    {
      name: "日程表",
      url: "/canlender"
    },
    {
      name: "工作台",
      url: "/workBench"
    },
    {
      name: "项目库",
      url: "/"
    },
    {
      name: "投资人库",
      url: "/"
    },
    {
      name: "研究报告",
      url: "/"
    },
    {
      name: "小程序",
      url: "/"
    }
  ];
  export default {
    data() {
      return {
        menu: menu
      };
    }
  };
</script>

<style type="text/scss" lang="scss" scope>
  .el-menu{
    .el-menu-item {
      font-size: 16px;
      padding: 0px 25px;
    }
  }
</style>
